<div class="js-sticky-header header grid-container elevated search-snap snap">
   <!-- <div class="js-sticky-header header grid-container elevated"> -->
      <div style="padding-top:5px; padding-bottom:1px;padding-left:20px;padding-right:20px">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" width="1px"><img src="/images/logo_small.png" height="30px" /></td>
              <td width="45px"><a href="/"><i title="Home" class="material-icons" title="Home">home</i></a></td>
              <td align="right" style="vertical-align:middle;">  
                <div style="padding-top:4px; color:#669833;">{{userName}}</div>  
              </td>
              <td align="right" width="85px">  
                <a href="#"><i class="material-icons">account_circle</i></a>
                <a href="/logout"><i title="Logout" class="material-icons" title="Logout">power_settings_new</i></a>
                <a href="javascript:window.fullscreen();"><i title="Fullscreen" class="material-icons" title="Fullscreen">launch</i></a>
              </td>
            </tr>
          </table>
      </div>

      <div class="header-content">
         <nav class="header-nav" style="width:100%;height:30px;">
            <ul>       

                            
                <li class="js-nav-ripple header-nav-item--library active">
                  <a href="/dashboards/rtr">Receive to Replenish<div class="mdc-ripple-surface mdc-ripple-surface--primary ripple-underline"></div></a>
                </li> 
                <li class="js-nav-ripple header-nav-item--library">
                  <a href="#"><font color='grey'>Demand to Produce</font><div class="mdc-ripple-surface mdc-ripple-surface--primary ripple-underline"></div></a>
                </li>
                <li class="js-nav-ripple header-nav-item--library">
                  <a href="/dashboards/pts">Pick to Ship<div class="mdc-ripple-surface mdc-ripple-surface--primary ripple-underline"></div></a>
                </li>
              
                <li class="js-nav-ripple header-nav-item--library">
                  <a href="#"><font color='grey'>Market to Cash</font><div class="mdc-ripple-surface mdc-ripple-surface--primary ripple-underline"></div></a>
                </li>
       
            </ul>
          </nav>
      </div>    
   </div>

   <div class="body-container">

      <div class="article-page" style="margin-top:2rem;">
      
        <div class="article-page--header mdc-layout-grid__cell mdc-layout-grid__cell--span-10 about-page--header">
        <!--  <div class="article-page--header-title">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
              <tr>
                 <td><h2>FD Campus Dashboard - <b>PICK TO SHIP</b></h2></td>
                
              </tr> 
            </table>      
          </div>
         --> 
        </div>
      
        <div class="resources-page-grid">
          <ul class="resources-grid small-tile-grid mdc-layout-grid">

          <li class="resource small-tile gd-item mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-4-tablet js-grid-item js-resource">  
              <a href="rtr/inboundopenpallets/inboundopenpallets">
              <div class="resource--content">
                <div class="resource--content-border" style="border-color:#397546"></div>
                <div class="resource--content-headline">Inbound Open Pallets</div>
                <div class="resource--content-icon" style="background-image:url(/images/pre-wave-monitor-small.png);"></div>
              </div>
              <div class="resource--image">  
                <div class="image" style="background-image: url(/images/pre-wave-monitor-large.jpg);"></div>
              </div>
              </a>
            </li>

<!--
            <li class="resource small-tile gd-item mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-4-tablet js-grid-item js-resource">  
              <a href="rtr/binfillrate/binfillrate">
              <div class="resource--content">
                <div class="resource--content-border" style="border-color:#009DE8"></div>
                <div class="resource--content-headline">Bin Fill Rate</div>
                <div class="resource--content-icon" style="background-image:url(/images/buffer-monitor-small.png);"></div>
              </div>
              <div class="resource--image">  
                <div class="image" style="background-image: url(/images/buffer-monitor-large.png);"></div>
              </div>
              </a>
            </li>
-->
            <li class="resource small-tile gd-item mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-4-tablet js-grid-item js-resource">  
              <a href="rtr/openreplentasks/openreplentasks">
              <div class="resource--content">
                <div class="resource--content-border" style="border-color:#C49928"></div>
                <div class="resource--content-headline">Open Replen Tasks</div>
                <div class="resource--content-icon" style="background-image:url(/images/cart-build-small.png);"></div>
              </div>
              <div class="resource--image">  
                <div class="image" style="background-image: url(/images/cart-build-large.png);"></div>
              </div>
              </a>
            </li>
 <!--
          <li class="resource small-tile gd-item mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet js-grid-item js-resource">  
              <a href="report/loading/mainpage">
              <div class="resource--content">
                <div class="resource--content-border" style="border-color:#60BD40"></div>
                <div class="resource--content-headline">Loading</div>
                <div class="resource--content-icon" style="background-image:url(/images/loading-small.jpg);"></div>
              </div>
              <div class="resource--image">  
                <div class="image" style="background-image: url(/images/loading-large.jpg);"></div>
              </div>
              </a>
            </li>


            <li class="resource small-tile gd-item mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet js-grid-item js-resource">  
              <a href="report/shipexceptions/shipexceptions">
              <div class="resource--content">
                <div class="resource--content-border" style="border-color:#470D04"></div>
                <div class="resource--content-headline">Ship Exceptions</div>
                <div class="resource--content-icon" style="background-image:url(/images/ship-exceptions-small.png);"></div>
              </div>
              <div class="resource--image">  
                <div class="image" style="background-image: url(/images/ship-exceptions-large.jpg);"></div>
              </div>
              </a>
            </li>

            <li class="resource small-tile gd-item mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet js-grid-item js-resource">  
              <a href="dashboards/buffermonitor">
              <div class="resource--content">
                <div class="resource--content-border" style="border-color:#046A9C"></div>
                <div class="resource--content-headline">Post-wave Monitor</div>
                <div class="resource--content-icon" style="background-image:url(/images/post-wave-small.png);"></div>
              </div>
              <div class="resource--image">  
                <div class="image" style="background-image: url(/images/post-wave-monitor-large.jpg);"></div>
              </div>
              </a>
            </li>
-->
        

          </ul>
        </div>  

      </div>
   </div>